.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_underline {
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E7EC;
  }

  &_text {
    font-size: 32px;
    line-height: 40px;
    color: #4B664C;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 30px;
    }
    &_sub {
      font-size: 14px;
      line-height: 20px;
      color: var(--grayscale-body);
    }
  }
  &_btns {
    display: flex;
    align-items: center;
    div {
      &:not(:last-child){
        margin-right: 20px;
      }
    }
    &_flex {
      display: flex;
      align-items: center;
      svg {
        margin-left: 5px;
      }
    }
    &_status {
      font-size: 16px;
      line-height: 25px;
      font-weight: bold;
      color: #29382A;
      padding: 9px 24px;
      border: 1px solid #D9E9DA;
      margin-right: 20px;
      border-radius: 8px;
    }
  }
}

.report_filters {
  display: flex;
  align-items: flex-end;
  margin: 0.35rem 0 1.5rem 0;
  gap: 0.8rem;
  flex-wrap: wrap;

  //width: unset;

  label {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  > div {
    flex: 1 1 auto;
    max-width: 200px;
  }


  &_button {
    display: flex;
    white-space: pre;
    width: auto;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
}

.no_report {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  &_container {
    height: 500px;
    position: relative;
  }
  p {
    //text-align: center;
    margin-top: 24px;
    color: #4B664C;
    font-size: 16px;
    line-height: 24px;
  }
}
.report_table {

}

.config_details {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 24px;
  margin: 20px 0;
  &_items {
    width: 100%;
  }
  &_alt {
    border: 1px solid #D9E9DA;
    border-radius: 8px;
    background: #F8FBF8;
  }
  &_head {
    margin-top: 30px;
    font-weight: 500;
    color: #29382A;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
  }
}

.info {
  width: 100%;

  &_row {
    width: 100%;
    box-sizing: border-box;
    &:not(:last-child) {
      border-bottom: 1px solid #D9E9DA;
    }
  }

  &_group {
    margin: 24px 0 16px;

    &_label {
      font-size: 14px;
      line-height: 22px;
      color: #6E9170;
      margin-bottom: 4px;
    }

    &_text {
      font-size: 14px;
      line-height: 20px;
      color: #29382A;
    }
  }
}

.scheduler {
  width: 100%;
  max-width: 751px;
  margin: 48px auto;
  color: var(--grayscale-body);
  &_frequency {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #D9E9DA;
    div {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      input {
        padding-left: 10px;
      }
    }
  }
  &_actions {
    border-top: 1px solid var(--grayscale-line);
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
    div{
      &:not(:last-child){
        margin-right: 20px;
      }
    }
    button {
      white-space: pre;
      width: auto;
    }
  }
}
.form {
  &_headline {
    padding: 24px 0;
  }
  &_input_icon {
    margin-top: 5px;
    font-size: 24px;
  }
}

.table {
  width: 100%;
  max-width: 100%;
}

.add {
  display: flex;
  max-width: 1200px;
  padding: 25px 0;
  @media screen and (max-width: 1024px) {
    display: block;
  }

  &_head {
    min-width: 200px;
    font-size: 14px;
    line-height: 20px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    h4{
      font-weight: 500;
      color: var(--grayscale-ash);
    }
    div {
      color: var(--grayscale-body);

    }
  }
  &_form {
    width: 100%;
    margin-left: 40px;
    @media screen and (max-width: 1024px) {
      margin: 40px 0 0;
    }

  }
  &_action_btns {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    border-top: 1px solid var(--grayscale-line);
    padding-top: 30px;
    div:not(:last-child) {
      margin-right: 20px;
    }
  }
}