.quick_links {
  margin-top: 1.2rem;
  justify-content: space-between;
}

.quick_link_cards {
  padding: 1.25rem;
  border: 1px solid #a0bda2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  max-width: 350px;
}
.quick_link_cards p {
  font-size: 14px;
  font-weight: 500;
  color: #29382a;
}

.quick_link_icon {
  font-size: 25px;
}

.task_count {
  margin: 1.2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.tasks_count_cards {
  width: 100%;
  max-width: 272px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 1.25rem;
  border: 1px solid #D9E9DA;
  margin: 8px;
}
.tasks_count_cards_icon {
  height: 24px;
  width: 24px;
}
.tasks_count_cards * {
  color: #29382a;
}
.tasks_count_cards div {
  margin: 0.35rem 0 0;
}
.tasks_count_cards div p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 18px 0 8px;
}
.tasks_count_cards div h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.salutation h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.salutation * {
  color: #4b664c;
}
.salutation_group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .salutation_group {
    display: block;
  }
}

.service_card {
  border: 1px solid #D0D5DD;
  width: 100%;
  max-width: 272px;
  border-radius: 8px;
  margin: 8px;
}
.service_card_container {
  display: flex;
  flex-wrap: wrap;
}
.service_card_head, .service_card_head_green, .service_card_head_orange {
  border-width: 1px;
  border-radius: 8px 8px 0px 0px;
  padding: 24px;
}
.service_card_head_orange {
  background: #FFF4EB;
}
.service_card_head_green {
  background: #EAF9DE;
}
.service_card_head h5, .service_card_head_orange h5, .service_card_head_green h5 {
  color: #4B664C;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.service_card_head div, .service_card_head_orange div, .service_card_head_green div {
  color: #29382A;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 8px;
}
.service_card_body {
  padding: 16px 24px;
}
.service_card_body .service_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 8px;
}
.service_card_body .service_item:not(:last-child) {
  border-bottom: 1px solid #D9E9DA;
}
.service_card_body .service_item_left p {
  font-size: 14px;
  line-height: 20px;
  color: #4B664C;
}
.service_card_body .service_item_left div {
  font-size: 18px;
  line-height: 24px;
  color: #29382A;
}
.service_card_body .service_item_right, .service_card_body .service_item_right_positive, .service_card_body .service_item_right_negative {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 2px 10px;
}
.service_card_body .service_item_right svg, .service_card_body .service_item_right_positive svg, .service_card_body .service_item_right_negative svg {
  margin-right: 5px;
}
.service_card_body .service_item_right_negative {
  color: #E61B00;
  background: #FFF2F1;
}
.service_card_body .service_item_right_positive {
  color: #027A48;
  background: #ECFDF3;
}

.request_stat {
  padding: 24px;
}
@media screen and (max-width: 480px) {
  .request_stat {
    padding: 24px 5px;
  }
}
.request_stat_head {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  border-bottom: 1px solid #D9E9DA;
  margin-bottom: 40px;
}
.request_stat_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .request_stat_body {
    display: block;
    margin: 0 auto;
  }
}
.request_stat_chart {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .request_stat_chart {
    display: block;
  }
}
.request_stat_chart_text {
  min-width: 150px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}
.request_stat_chart_text p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #4B664C;
}
.request_stat_chart_text div {
  font-size: 32px;
  line-height: 40px;
  color: #2B2D2B;
}
.request_stat_items {
  display: flex;
  max-width: 560px;
}
@media screen and (max-width: 768px) {
  .request_stat_items {
    display: block;
  }
}
.request_stat_item {
  margin: 20px 20px;
  display: block;
  width: 100%;
  min-width: 230px;
  border-bottom: 1px solid #D9E9DA;
  position: relative;
  height: 58px;
  padding: 0 16px;
}
@media screen and (max-width: 480px) {
  .request_stat_item {
    min-width: 220px;
    width: 220px;
  }
}
.request_stat_item_initiated, .request_stat_item_declined, .request_stat_item_processing, .request_stat_item_completed {
  display: block;
  position: absolute;
  left: -5px;
  width: 3px;
  height: 80%;
  background: #0041AC;
}
.request_stat_item_completed {
  background: #008A00;
}
.request_stat_item_processing {
  background: #EAAC30;
}
.request_stat_item_declined {
  background: #E61B00;
}
.request_stat_item p {
  color: #4B664C;
  font-size: 14px;
  line-height: 20px;
}
.request_stat_item div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.request_stat_item div p {
  font-size: 18px;
  line-height: 24px;
  color: #2B2D2B;
  font-weight: 500;
}
.request_stat_stat {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn_outline {
  background: transparent;
  color: #29382A;
  padding: 10px 36px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_outline svg {
  margin-left: 5px;
}
@media screen and (max-width: 480px) {
  .btn_outline_container {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 0;
  }
}/*# sourceMappingURL=DBHome.module.css.map */