.DB_Layout {
}


.quick_links {
  margin-top: 1.2rem;
  justify-content: space-between;
  // width: 750px;
}

.quick_link_cards {
  padding: 1.25rem;
  border: 1px solid #a0bda2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  max-width: 350px;

  p {
    font-size: 14px;
    font-weight: 500;
    color: #29382a;
  }
}

.quick_link_icon {
  font-size: 25px;
}

.task_count {
  margin: 1.2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.tasks_count_cards {
  width: 100%;
  max-width: 272px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 1.25rem;
  border: 1px solid #D9E9DA;
  margin: 8px;

  &_icon {
      height: 24px;
      width: 24px;
  }
  * {
    color: #29382a;
  }

  div {
    margin: 0.35rem 0 0;
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      padding: 18px 0 8px;
    }

    h5 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.salutation {
  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  * {
    color: #4b664c;
  }
  &_group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media screen and (max-width: 480px) {
      display: block;
    }
  }

}
.service_card {
  border: 1px solid #D0D5DD;
  width: 100%;
  max-width: 272px;
  border-radius: 8px;
  margin: 8px;
  &_container {
    display: flex;
    flex-wrap: wrap;
  }
  &_head {
    border-width: 1px;
    border-radius: 8px 8px 0px 0px;
    padding: 24px;
    &_orange {
      @extend .service_card_head;
      background: #FFF4EB;
    }
    &_green {
      @extend .service_card_head;
      background: #EAF9DE;

    }
    h5 {
      color: #4B664C;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    div {
      color: #29382A;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      margin-top: 8px;
    }
  }
  &_body {
    padding:16px 24px;
    .service_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 8px;
      &:not(:last-child){
        border-bottom: 1px solid #D9E9DA;
      }
      &_left {
        p {
          font-size: 14px;
          line-height: 20px;
          color: #4B664C;
        }
        div {
          font-size: 18px;
          line-height: 24px;
          color: #29382A;
        }
      }
      &_right{
        display: flex;
        align-items: center;
        border-radius: 16px;
        padding: 2px 10px;
        svg {
          margin-right: 5px;
        }

      }
      &_right_negative {
        @extend .service_item_right;
        color: #E61B00;
        background: #FFF2F1;
      }
      &_right_positive {
        @extend .service_item_right;
        color: #027A48;
        background: #ECFDF3;
      }
    }
  }
}

.request_stat {
  padding: 24px;
  @media screen and (max-width: 480px) {
    padding: 24px 5px;
  }
  &_head {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    border-bottom: 1px solid #D9E9DA;
    margin-bottom: 40px;
  }
  &_body {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 92px;
    @media screen and  (max-width: 1024px) {
      display: block;
      margin: 0 auto;
    }
    //max-width: ;
  }
  &_chart {
    display: flex;
    align-items: center;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    &_text {
      min-width: 150px;
      width: 150px;
      text-align: center;
      margin: 0 auto;
      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        color: #4B664C;
      }
      div {
        font-size: 32px;
        line-height: 40px;
        color: #2B2D2B;
      }
    }
  }
  &_items {
    display: flex;
    //flex-wrap: wrap;
    max-width: 560px;
    @media screen and (max-width: 768px) {
      display: block;

    }

    &_container {
      //width: 100%;
    }
  }
  &_item {
    margin: 20px 20px;
    display: block;
    width: 100%;
    min-width: 230px;
    border-bottom: 1px solid #D9E9DA;
    position: relative;
    height: 58px;
    padding: 0 16px;
    @media screen and  (max-width: 480px) {
      min-width: 220px;
      width: 220px;

    }
    &_initiated {
      display: block;
      position: absolute;
      left: -5px;
      width: 3px;
      height: 80%;
      background: #0041AC;
    }
    &_completed {
      @extend .request_stat_item_initiated;
      background: #008A00;
    }
    &_processing {
      @extend .request_stat_item_initiated;
      background: #EAAC30;
    }
    &_declined {
      @extend .request_stat_item_initiated;
      background: #E61B00;
    }
    // '#0041AC', '#EAAC30', '#008A00', '#E61B00'];
    p {
      color: #4B664C;
      font-size: 14px;
      line-height: 20px;
    }
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      p {
        font-size: 18px;
        line-height: 24px;
        color: #2B2D2B;
        font-weight: 500;
      }
    }
  }
  &_stat {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.btn_outline {
  background: transparent;
  color: #29382A;
  padding: 10px 36px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-left: 5px;
  }
  &_container {
    @media screen and (max-width: 480px) {
      display: flex;
      justify-content: flex-end;
      margin: 30px 0 0;
    }
  }
}

// .side_metrics{
//   width: 10px
// }
