.sidebar {
  padding: 1rem 0rem 1rem 0.5rem;
  position: relative;
  background-color: var(--primary-color);
  height: 100vh;
  // overflow-y: scroll;

  a {
    text-decoration: none;
  }
}

.sidebar_menues {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.navlink {
  padding: 0.6rem;
  margin: 0.7rem 0rem 0.7rem 0rem;
  text-decoration: none;
  color: var(--greyScale);
  border-radius: 0.65rem;
  font-weight: 500;
  //   background-color: var(--sidebar-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  cursor: pointer;

  > div {
    width: 100%;

    // &:first-child {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    // }
  }
}

.navlink_isActive {
  font-weight: 600;
  position: relative;
  background-color: var(--sidebar-bg);
  color: var(--primary-color);
}

.navlink_sublink_group {
  // position: absolute;
  // top: 0;
  // left: 13.375rem;
  // background-color: var(--white);
  width: 100%;
  height: auto;
  margin-left: auto;
  max-height: 120px;
  overflow-y: scroll;
  // padding-left: 1rem;
  // z-index: 9999;
}

.navlink_sublink {
  //   width: max-content;

  display: block;
  padding: 0.7rem 0.7rem 0.7rem 2.5rem;
  text-decoration: none;
  color: var(--greyScale);
  z-index: 9999;
  font-weight: 500;
  border-radius: 0.65rem;
  margin: 0rem auto 0.5rem;
  // background-color: var(--white);

  &:hover {
    // background-color: var(--greenStep_One);
    // color: var(--greenStep_Two);
    cursor: pointer;
  }
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   position: relative;
}

.navlink_sublink_isActive {
  background-color: var(--sidebar-bg);
  color: var(--primary-color);
  * {
    text-decoration: unset;
  }
}

.navlink_class {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  // padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  * {
    text-decoration: unset;
  }
}
