.header {
  padding: 0;
  border-bottom: 1px solid #d9e9da;
  // display: flex;
  // align-items: center;
  position: fixed;
  width: 100%;

  display: grid;
  gap: 0px;
  grid-template-columns: auto 80%;
  grid-template-rows: auto;
  grid-template-areas: "header actions";

  > div {
    padding: 1rem 0rem;
  }
}

.header_logo {
  grid-area: header;
  border-right: 1px solid #d9e9da;
  img {
    display: block;
    margin-top: 5px;
    margin-left: 1rem;
  }
}

.header_actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem !important;
  // background-color: yellow;
  // border-bottom: 1px solid #d9e9da;
}

.header_search {
  width: 850px;
  max-width: 100%;
  // background-color: blue;
}

.userInitials {
  background-color: var(--primary-color);
  padding: 0.75rem;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}

.header_bell_icon, .header_chevron_icon {
  * {
    font-size: 24px;
  }
}
