.react-datepicker__input-container input {
  color: var(--form_input);
  background-color: #f8fbf8;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--table-border);
  padding: 0.7rem 0.6rem;
  border-radius: 0.5rem;
}

.calendarIcon {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 40px;
  margin-bottom: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.6rem;
  color: #4b664c;
  margin-top: 0.8rem;
}

.react-datepicker__day--selected {
  background-color: var(--primary-color);
  color: #fff;

  border-radius: 50%;
}

.react-datepicker__day--selected:hover {
  background-color: var(--primary-color);
  color: #fff;

  border-radius: 50%;
}
